<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/artist.css">
    <title>Document</title>
</head>
<div class="show_artist">
    
        <div class="show_date">
          <span class="show_day">24</span>
          <span class="show_month-and-time">JAN</br><span class="small">8PM</span></span>
        </div>
      
        <div class="artist_name">
          <span class="show_name">Deafheaven</span>
          </br>
      <span class="live small">LIVE</span>
        </div>
      
        <div class="show_location">
          <span>San Francisco</span>
          </br>
          <span class="small"><span>The Filmore</span>
        </div>
        
        <div class="show_cta">
          <button class="buy_ticket" href="#">GRAB A TICKET</button>
        </div>
      
 
</div>
</body>
</html>